venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
/backend/ingest/services/__pycache__
/backend/ingest/utils/__pycache__
/backend/ingest/__pycache__
/backend/ingest/routers/__pycache__
/backend/__pycache__
*.pyc
/backend/storage
backend/database.db
/backend/UFDRConvert
/backend/files
*.ufdr
*.zip
